<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.integrate1" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 具备摄像头 -->
    <uses-feature android:name="android.hardware.camera.any" /> <!-- 存储图像或者视频权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 录制音频权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Integrate1"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="124b0a63d994267c5dd70634de849b9d" />
        <!--声明定位service-->
        <service android:name="com.amap.api.location.APSService" />
        <activity
            android:name=".Login"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signup" />
        <activity android:name=".MainActivity" />
        <activity android:name=".StartExperiment" />
        <activity android:name=".Settings" />
        <activity android:name=".DetectSensors" />
        <activity android:name=".ShowResults_Sensor" />
        <activity android:name=".ShowResults_Global" />
        <activity
            android:name=".ActivityMyProject"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityNewProject"
            android:exported="false"
            android:parentActivityName=".ActivityMyProject" />
        <activity
            android:name=".ActivityProjectInterface"
            android:exported="false"
            android:parentActivityName=".ActivityNewProject" />
        <activity
            android:name=".ActivityNewTask"
            android:exported="false"
            android:parentActivityName=".ActivityProjectInterface" />
        <activity
            android:name=".ActivityAccAndTiltMonitor"
            android:exported="false"
            android:parentActivityName=".ActivityNewTask" />
        <activity android:name=".MainActivity_Camera" />
        <activity android:name=".CameraActivity" />
        <activity
            android:name=".ActivityEditPicture"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities=".provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>